@import "_minix.scss";
@import "common.scss";
.wrap {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    h1 {
        text-align: center;
        line-height: pxTorem(50px);
        font-size: pxTorem(18px);
    }
    .inp {
        width: 100%;
        height: pxTorem(90px);
        background: #e9dece;
        padding: 0 pxTorem(15px);
        @include sizing;
        padding-top: pxTorem(10px);
        .fang {
            width: 100%;
            height: pxTorem(44px);
            background: #fff;
            @include box_flex;
            @include align;
            padding-left: pxTorem(20px);
            @include sizing;
            font-size: pxTorem(18px);
            >.icon {
                font-size: pxTorem(18px);
            }
        }
    }
}